bcrypt==4.0.1
bootstrap-py==1.0.2
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
joblib==1.2.0
numpy==1.22.0
pandas==1.5.3
SQLAlchemy==2.0.6
tensorflow==2.11.0
WTForms==3.0.1
XBNet==1.4.6
xgboost==1.7.3