.bg-nav{
    background: #F5F5F5;
}

.mt-right{
    margin-top:100px;
    margin-left:50px;
}

.mt-left{
    margin-top:100px;
    margin-right:50px;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

.color {
    background-color: #26A69A;
}

.center {
    text-align: center;
    margin: auto;
}

#inp {
    text-align: center;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #26A69A;
    color: #F5F5F5;
    text-align: center;
}