<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/main.jpg" rel="icon">

        <title>Blacklist</title>
    </head>
    <div class="container", style="text-align: center;">
        <body>
            <form name="form", method="POST", style="text-align: center;">
            <h2> Please Provide Your Data Below </h2>
            <div class="group">
                <br>
                <input type="number" step ="any" name="time", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter Time</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="V1", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V1</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="V2", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V2</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="V3", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V3</label>
                <br><br>
            </div>
            <div class="group">
                <br>   
                <input type="number" step ="any" name="V4", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V4</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="V5", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V5</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="Amount",required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter Amount</label>
                <br><br>
            </div>
                <button onclick="location.href = '/prediction_output/' + prediction;" class="button-33" role="button" value="Submit">Get Our Prediction</button>

            </form>
            <p style="text-align: center;">{{ output }}</p>
        </body>
    </div>
</html>