<!DOCTYPE html>
<html>
    <head>
        <title>Blacklist</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Time: <input type="number" step ="any" name="time", placeholder="Enter Time" required/>
            <br><br>
            V1: <input type="number" step ="any" name="V1", placeholder="Enter V1" required/>
            <br><br>
            V2: <input type="number" step ="any" name="V2", placeholder="Enter V2" required/>
            <br><br>
            V3: <input type="number" step ="any" name="V3", placeholder="Enter V3" required/>
            <br><br>
            V4: <input type="number" step ="any" name="V4", placeholder="Enter V4" required/>
            <br><br>
            V5: <input type="number" step ="any" name="V5", placeholder="Enter V5" required/>
            <br><br>
            Amount: <input type="number" step ="any" name="Amount", placeholder="Enter amount" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>