<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <form method="POST">
    <div class="field" style="text-align: center;">
      <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right" style="text-align: center;">
          <input class="input" type="text" name="username" placeholder="Username">
        </div>
    </div>
    <p>
    </p>
    <div class="field" style="text-align: center;">
      <label class="label">Password</label>
        <div class="control has-icons-left" style="text-align: center;">
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="field">
      <p class="control" style="text-align: center;">
        <button type="submit" class="button is-success">
          Login
        </button>
      </p>
    </div>
  </form>
</body>

</html>