<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="../static/assets/favicon.jpg" rel="icon">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/login_upload_page.css') }}"

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Blacklist</title>
  </head>
  <body class="bg-nav">
    <form method="POST">
    <nav class="navbar">
      <a href="/logout" class="navbar-brand" style="color: black;">Blacklist</a>
    </nav>

    <div class="contianer">
      <div class="row">
        <div class="col-md-8">
          <h1 class="display-4 mt-100" style="font-size:60px">Credit Card Safety, Always Protected</h1>
        </div>
        <div class="col-md-4">
          <div class="card mt-99">
            <div class="card-body">
              <form method="POST">
                <div class="form-group">
                  <label for="email">E-mail Address</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter E-mail"/>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>
                </div>
                  <button type="submit" class="btn-block btn-lg logout_button" value="Login">Login</button>
              </form>
              <p class="mt-2">Not a member? <a href="register" style="color: #26A69A;">Create an account</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>