<!-- This file will never be used -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/assets/favicon.jpg" rel="icon">

        <title>Blacklist Data Entry</title>
    </head>
    <div class="container", style="text-align: center;">
        <body>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
            <nav class="navbar navbar-light bg-light p-3">
                <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
                    <a class="navbar-brand" href="#">
                        Blacklist Terminal - Manual Data Entry
                    </a>
                    <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          Hello, username
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                      </div>
                </div>
            </nav>
        </body>
    </div>
    <div class="container", style="text-align: center;">
        <body>
            <form name="form", method="POST", style="text-align: center;">
            <h2> Provide Your Data Below </h2>
            <div class="group">
                <br>
                <input type="number" step ="any" name="time", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter Time</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="v1", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V1</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="v2", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V2</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="v3", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V3</label>
                <br><br>
            </div>
            <div class="group">
                <br>   
                <input type="number" step ="any" name="v4", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V4</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="v5", required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter V5</label>
                <br><br>
            </div>
            <div class="group">
                <br>
                <input type="number" step ="any" name="amount",required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter Amount</label>
                <br><br>
            </div>
                <button onclick="location.href = '/prediction_output/' + prediction;" class="button-33" role="button" value="Submit">Get Our Prediction</button>
            </form>
            <p style="text-align: center;">{{ output }}</p>
        </body>
    </div>
</html>