<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/assets/favicon.jpg" rel="icon">

        <title>Blacklist</title>
    </head>
    <div class="container", style="text-align: center;">
        <h2> Please Select an Option Below </h2>
        <body>
            <button onclick="location.href='index.html'" class="button-33">Enter Data Manually</button>
            <br><br>
            <br><br>
            <button onclick="location.href='index2.html'" class="button-33">Load Data via CSV</button>
        </body>
    </div>
</html>